*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/PBD/BasicsandPrinting/target/
/PBD/Variables/Variables/target/
/WarmUps/WarmUP1/target/
/CodeExamples/ConditionalExamples/target/
/CodeExamples/LoopExamples/target/
/Labs/Lucky7s/target/
/KeyboardInput/KeyboardInput/target/
/WarmUps/PrimeNums/target/
/CodeExamples/WindowMasterDebug/target/
/Labs/InterestCalculator/target/
/Labs/Factorizer/target/
/Labs/RockPaperScissors/target/
/PBD/IfStatements/IfStatements/target/
/CodeExamples/MethodExamples/target/
/PBD/WhileLoops/target/
/PBD/DoWhileLoops/target/
/PBD/ForLoops/target/
/CodeExamples/Arrays/target/
/CodeExamples/SimpleFileIO/target/
/PBD/FileInputAndOutput/target/
/UnitOneSkillCheck/target/
/CodeExamples/DogExample/target/
/PBD/Arrays/target/
/Functions/target/
/CodeExamples/StaticExample/target/
/CodeExamples/JUnitExample/target/
/Labs/SimpleCalculator/target/
/PBD/Sorting/target/
/CodeExamples/ArrayListHashMapExample/target/
/Labs/HashMaps/target/
/PBD/Records/target/
/CodeExamples/ClassRosterLiveCode/target/
/JUnitDrills/target/
/LoopsJUnitDrills/target/
/StringJUnitDrills/target/
/ConditionalJunitTest/target/
/CodeExamples/ErrorFindingExample/target/
/Labs/ConsoleIO/target/
/LogicJUnitDrills/target/
/WarmUps/UsingHashMaps/target/
/WarmUps/CountingDice/target/
/CodeExamples/InheritanceExamples/target/
/WarmUps/Iteration2/target/
/Labs/DVDLibrary/target/
/CodeExamples/TaxDAO/target/
/FlooringMastery/FlooringMastery/target/
/Labs/AddressBook/target/
/CodeExamples/ServerInventory/target/
/CodeExamples/LambdaExample/target/
/Labs/AddressBookWithStreams/target/
/Labs/DVDLibraryWithStreams/target/
/CodeExamples/DataStructures/target/
/CodeExamples/Olympian/target/
/Labs/DVDLibraryComponentSwap/target/